
  body{
    align-items: center;
    background: black;
  }
  h2{
    font-size: 36px;
    color: #ffffff;
  }
  p{
    font-size: 35px;
    color: #ffffff;   
    
  }
  .btn{
  border: none;
  border-radius: 50px;
  margin-right: 20px;
  padding: 30px;
  background-color: blue;
  color: #ffffff;
  cursor: pointer;
  font-size: 25px;
  }